
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
body{
	height: 100vh;
	width: device-width;
	display: flex;
	background-color: blueblack;
}

nav {
      float: left;
      width: 500px;
      margin: 0px;
      padding: 5px;
      background-color: redyellow;
      font-size: .9em;
}

header {
  text-align: topleft;
  padding: 5px;
  color: black;
	
}
footer {
  item-align: bottom;
  padding: 5px;
  background-color: greenyellow;
  color: black;
}

.container{
	width: 550px;
	height: 700px;
	padding: 50px;
	border: 2px solid yellow;
	border-radius: 10px;
	background-color:white;
	color: indigo);
	font-size: 12px;
	allign-item: left;
}

h1{
	margin-bottom: 10px;
	font-size: 72px;
	color: rgb(42, 241, 248);
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: black;
	align-items: center;
}

}
h8{
	margin-bottom: 10px;
	font-size: 12px;
	color: white;
}


Button{
	width: 60%;
	padding: 6px;
	margin-bottom: 10px;

input{
	width: 90%;
	padding: 6px;
	margin-bottom: 10px;
}

textarea{
	width: 60%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: rgb(107, 8, 66);
	color: rgb(247, 246, 246);
	width: 200px;
	margin-top: 10px;
	border-radius: 7px;
}
#submit:hover{
	background-color: #e4aad7;
}
