
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
body{
	height: 100vh;
	width: device-width;
	display: flex;
	background-color: gray;
}

nav {
      float: left;
      width: device-width;
      margin: 0px;
      padding: 30px;
      background-color: greenyellow;
      font-size: .9em;
}

header {
  text-align: center;
  padding: 100px;
  color: black;
  width: 200px;
  justify-content: center;
	
}
footer {
  item-align: bottom;
  padding:30px;
  background-color: greenyellow;
  color: black;
  width: 500px;
  height: 100px;	
  justify-content: center;	
}

.container{
	
	height: 700px;
	border: 2px solid yellow;
	border-radius: 10px;
	background-color:white;
	color: indigo);
	font-size: 12px;
	position: center;
	width:600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 8%;	
}
.container2{
	
	height: 700px;
	border: 2px solid red;
	border-radius: 10px;
	background-color: white;
	color: indigo);
	font-size: 12px;
	position: center;
	width:600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 8%;	
}

h1{
	margin-bottom: 10px;
	font-size: 72px;
	color: rgb(42, 241, 248);
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: black;
	align-items: center;
}
h8{
	margin-bottom: 10px;
	font-size: 12px;
	color: white;
}

Button{
	width: 60%;
	padding: 110px;
	margin-bottom: 5px;

input{
	width: 90%;
	padding:30px;
	margin-bottom: 10px;
}

textarea{
	width: 60%;
	padding: 40px;
}
#submit{
	border: none;
	background-color: rgb(107, 8, 66);
	color: rgb(247, 246, 246);
	width: 200px;
	margin-top: 10px;
	border-radius: 7px;
}
#submit:hover{
	background-color: #e4aad7;
}
